.pageTitle{
    background-color: #CEFBFF;
}

.articleTitle{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    color:#707070;
    font-size: 90px;
}

.articleText{
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    color: #707070;
    font-size: 35px;
}

.button{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-decoration: none;
    background: #240202;
    display: block;
    padding: 14px 33px 14px 33px;
    font-size: 35px;
    margin-bottom: 35px;
}

.listItem h3{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    color:#707070;
    font-size: 70px

}

.listItem p{
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    color: #707070;
    font-size: 22px;
}


.pageClose{
    background-color: #ECCEFF;
}
.sign{
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    color: #707070;
    font-size: 22px;
    padding-top: 40px;
    padding-bottom: 40px;
}
